body{
    background-color: #000002;
}
.card, .movie-details{
    color:white;
    background: #000002;
    margin-bottom: 3%;
    border: 17px solid #222427;
    background-color: #222427;
    text-align: center;
    border-radius: 0.5em;
}
.card{
    max-width: 20vw;
    max-height: 100%;

}
.column.col-lg-3{
    padding: 8px;
}
.card-img-top{
    height: 50%;
    object-fit: cover;
}
footer,.project-header{
    background-color: #141414;
    font-size: bold;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.project-header{
    font-size: 27px;
}
#movies{
    max-width: 75vw;
    margin: auto;
    padding:  125px 0px 125px 0px;
}
.footer{
    height: 100px;
    padding: 30px 5px;
}
.footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
button{
    background: #222427;
    padding: 10px 38px;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 10px;
}
#search-input{
    width: 500px;
    padding: 23px 16px;
    background: rgb(20, 20, 20);
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
#search-button{
    margin-left: 20px;
}
#pagination{
    padding:  0px 0px 125px 0px;
}
.card:hover{
    background-color: white;
    color: #000002;
    border-color: white;
}
